@font-face {
    font-family: 'Cursed Timer';
    src: url('/CursedTimerUlil-Aznm.ttf') format('truetype');
}

body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    border: 5px solid;
    width: 450px;
    margin: auto;
    border-radius: 25px;
    padding: 5px;
     background-color: #064E3B;
    
    
    
}




.score {
    display: flex;
    justify-content: center;
   
    font-family: 'Cursed Timer', monospace;
    background-color: black;
    color: red;
    width: 110px; 
    height: 75px;
     box-sizing: border-box;
     padding-top: 6px;
   margin: auto;
    border-radius: 4px;
    font-size: 65px;
    
}

#home {
    text-align: center;
    margin-bottom: 0px;
     font-weight: 600;
    color: #ECFDF5;
    font-size: 37px;
}

#Guest {
    text-align: center;
    margin-bottom: 0px;
    font-weight: 600;
    color: #ECFDF5;
     font-size: 37px;
}


.buttons {
    display: flex;
    justify-content: center;
    margin: auto;
    
    
    
}